@use '../util/' as util;

// Define base button styles
@mixin button-styles {
    margin: auto;
    font-size: util.rem(16);
    font-family: util.$redHat;
    padding: util.rem(16);
    border: 2px solid;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: util.rem(29);
    margin-top: util.rem(16);

    // Default color scheme
    color: var(--white);
    background-color: var(--teal);
    //border-color: #007bff;

    // Hover state
    &:hover {
        background-color: var(--light-teal);
        border-color: var(--light-teal);
    }

}

//Define button variables
$button-color: var(--teal);
$button-bg-color: var(--white);
$button-border-color: var(--teal);

// Define a mixin to override the button variables
@mixin button-override-styles {
    color: var(--white);
    background-color: var(--purple);
    border-color: var(--purple);
    width: util.rem(139)
}

// Define the button class
.button {
    @include button-styles;
    color: var(--white);
    background-color: var(--teal);
    border-color: var(--teal);
    font-weight: 900;
    padding-inline: util.em(20);
    width: util.rem(193);
    // Override mixin to change button styles for a specific use case

    &.__secondary {
        @include button-override-styles;
    }
}