@use '../util/' as util;

.hero-container {
    display: block;
    justify-content: center;
    text-align: center;

    .__logo {
        margin-top: util.rem(54);
    }

    .__image-container {
        width: full;
        height: util.rem(153);
        display: flex;
        margin-top: util.rem(54);

        .__hero-content-desktop {
            display: none;
        }
    }

    .__hero-content-mobile {
        display: grid;
        justify-content: center;
        align-items: center;

        & h1 {
            font-size: util.rem(40);
            margin-top: util.rem(48);
        }

        & h2 {
            font-size: util.rem(18);
            color: var(--gray);
            font-weight: 500;
            margin-inline: util.rem(24);
            line-height: util.rem(26);
        }

        .__buttons {
            display: grid;
        }

        .__version-text {
            color: var(--light-teal);
        }
    }
}

@include util.breakpoint(medium) {
    .hero-container {
        .__image-container {
            width: full;
            height: util.rem(303);
            display: flex;
            margin-top: util.rem(54);

            .__hero-content-desktop {
                display: none;
            }
        }

        .__hero-content-mobile {
            display: grid;
            justify-content: center;
            align-items: center;

            & h1 {
                font-size: util.rem(48);
                margin-top: util.rem(48);
                margin-inline: util.rem(214);
            }

            & h2 {
                font-size: util.rem(18);
                color: var(--gray);
                font-weight: 500;
                margin-inline: util.rem(155);
                line-height: util.rem(26);
            }

            .__buttons {
                display: grid;
                grid-auto-flow: column;
                justify-content: center;
                grid-gap: util.rem(20)
            }

            .__version-text {
                color: var(--light-teal);
            }
        }

    }
}

@include util.breakpoint(large) {

    .hero-container {
        display: block;
        justify-content: center;
        text-align: center;
        margin-bottom: util.rem(60);

        .__logo {
            margin-top: util.rem(54);
        }

        .__image-container {
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: util.rem(54);

            .__left-img {
                transform: translateX(util.rem(-50));
                height: 100%;
            }

            .__right-img {
                height: 100%;
            }

            .__hero-content-desktop {
                width: util.rem(540);
                display: grid;
                justify-content: center;
                align-items: center;
                margin-inline: util.rem(20);

                & h1 {
                    font-size: util.rem(64);
                    line-height: util.rem(64);
                    font-weight: 900;
                }

                & h2 {
                    font-size: util.rem(16);
                    color: var(--gray);
                    font-weight: 500;
                    margin-inline: util.rem(24);
                }

                .__buttons {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: center;
                    grid-gap: util.rem(20)
                }
            }

            .__right-img {
                transform: translateX(util.rem(50));
            }
        }

        .__hero-content-mobile {
            display: none;
        }

    }
}